/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ROOT VARS */

:root {
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --p-size: 1rem;
    --bg-dark: rgb(2, 6, 24);
    --bg-light: rgb(229, 229, 229);
    --txt-light: rgb(10, 10, 10);
    --txt-dark: rgb(245, 245, 245);
}

/* MOBILE FIRST DESIGN */

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

header > p {
    width: 300px;
}

.links-div {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

main {
    margin: 1rem;
}

#myWork > h2 {
    padding: 1rem 0;
    text-align: center;
}

.projectCard {
    border: 1px solid black;
    border-radius: 10px;
    margin: 1rem;
}

.projectCard > img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.projectCard > div {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.projectCard > div > div {
    display: flex;
    gap: 1rem;
}

.projectCard > p {
    padding: 0 1rem 1rem 1rem;
}